.table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    border: 1px solid grey;
  }

  th {
    color: grey;
    font-size: 11px;
    padding: 0.75em 0.5em;
  }

  td {
    font-size: 13px;
    padding: 0.5em 0.25em;

    &:first-child {
      font-weight: bold;
    }

    &:nth-child(2) {
      font-family: serif;
      font-style: italic;
    }

    &:last-child {
      color: blue;
      font-size: 11px;
    }
  }

  tbody {
    tr {
      text-align: center;

      &:hover {
        background-color: yellow;
      }
    }
  }

  @media (min-width: 1025px) {
    th {
      font-size: 12px;
    }

    td {
      font-size: 18px;
    }
  }
}

.highlighted {
  background-color: aliceBlue;
}
