.table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    &:first-child {
      min-width: 80px;
    }

    &:nth-child(2) {
      text-align: left;
    }

    &:nth-child(n+3):nth-child(-n+9) {
      max-width: 80px;
      min-width: 60px;
    }

    &:last-child {
      width: 60px;
    }
  }

  th {
    color: white;
    font-size: 12px;
    padding: 0.75em 0.5em;

  }

  td {
    font-size: 14px;
    padding: 0.5em 0.25em;

    &:first-child {
      font-weight: bold;
    }

    &:nth-child(2) {
      text-align: left;
    }

    &:last-child {
      color: blue;
      font-size: 11px;
    }
  }

  thead {
    tr {
      background-color: gray;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid grey;
      border-top: 1px solid grey;
      text-align: center;

      &:nth-child(odd) {
        background-color: whiteSmoke;
      }

      &:hover {
        background-color: yellow;
      }
    }
  }

  @media (min-width: 1025px) {
    th, td {
      &:first-child {
        min-width: 100px;
      }

      &:nth-child(n+3):nth-child(-n+9) {
        max-width: 120px;
        min-width: 80px;
      }
    }

    td {
      &:first-child {
        font-size: 18px;
      }
    }
  }
}

.highlighted {
  border: 2px solid red;
}
